/node_modules
/public/build
/public/hot
# /public/image
# /public/posts
# /public/journals
# /public/reviews
# /public/task_files
# /public/violations
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
auto-imports.d.ts
components.d.ts
